html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: url("/assets/background3.webp"); */
    background-size: cover;
    background-repeat: no-repeat;
    color:#373b64
}

a {
  color: inherit;
  text-decoration: none;
  color: blue;
  cursor: pointer
}


* {
  box-sizing: border-box;
}


